*{
  box-sizing: border-box;
}
.topBar{
  position: fixed;
  top: 0;
  background: white;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.7);
  text-align: center;
  margin: 0;

}

.main {
  margin-top: 3rem;
}

.row::before, .row:after{
  content: "";
  display: table;
  clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

 h1{
  float: left;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: navy;

  width: 20%;

}
.nav-links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-top: 3%;
}
.nav-item a {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  text-decoration: none;
  //border: 1px solid #F0F0F1;
}
.nav li{
  float: left;
  font-size: 15px;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  //width: 100%;
  margin-left: 20%;
  margin-right: 0%;

  //text-align: center;
  //overflow: hidden;
}
.nav li a{
  text-decoration: none;
  overflow: hidden;
}


.aboutMe{
  text-align: center;
  //width: 70%;
  height: 400px;
  margin-left: 16%;
  margin:auto;
  padding-top: 10%;
  background: #;
}
.aboutMe h3, small{
  float: left;
  width: 100%;
  margin-right: 30px;
  padding-top: 30px;
}

.FrontEnd{
  height: 100%;
  background-color: #ECF0F1;
}

.name2{
  padding-top: 10%;
}

.name3{
  padding-top: 20%;
}

.icons{
  position:fixed;
  z-index: 10;
  text-align: left;
  width:60%;
  padding-top: 25%;
  margin-left:9.29%;
  margin-right: auto;
  overflow: hidden;
  clear: both;
  vertical-align: middle;
}

.icons a{
  text-decoration: none;
  list-style-type: none;
}

.icons a:active{
  background-color: yellow;
}

/*@media only screen and (min-width: 19.5em) {  /*
  .topBar {
    width: 50%;
  }
}*/



@media only screen and (min-width: 538px) {
  .topBar{

  }
}


@media only screen and (min-width: 538px) {
  .topBar{
    float: ;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
  }
}

//Media queries for my topBar
@media only screen and (max-width: 600px) {
  .topBar{
    float: ;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 540px) {
  .topBar{
    float: ;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 766px) {
  .topBar{
    float: ;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .topBar{
    float: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-right:;
    padding-left: ;
  }
}
@media only screen and (min-width: 992px) {
  .topBar{
    float: left;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

  }
}

//Media queries for my AyCons
@media only screen and (min-width: 320px) {  /* 320px */
  .AyCons {
    float: left;
    width: %;
    margin-left: -8.79%;
  }
}

@media only screen and (max-width: 600px) {
  .AyCons{
    float: left;
    width: %;
    margin-left: -8.79%;
  }
}



/*
@@media only screen and (min-width: 32.5em) {
  .AyCons{
    margin-left: 9.29%;
  }
}*/

.Links{
  text-align: center;

}

.Links a{
  text-decoration: none;
  list-style: none;
}
h2, h4{
  color: navy;
}

h5{
  padding-bottom: -40%;
  margin: 0px;
}
